<div id="heading-breadcrumbs">
    <div class="container transparencia">
        <div class="row">
            <div class="col-md-6">
                <h1>Blog da Joy</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Blog da Joy</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <!-- *** LEFT COLUMN ***
_________________________________________________________ -->

            <div class="col-md-12" id="blog-listing-medium">
              <% blog("blog").articles.each do |article| %>
                <section class="post">
                    <div class="row">
                        <div class="col-md-4">

                          <% if article.data.youtubecode?%>

                            <div class="video">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="<%= article.data.youtubecode %>"></iframe>
                                </div>
                            </div>

                          <% else %>

                            <div class="image">
                                <!-- <a href="blog-post.html">
                                    <img src="img/blog-medium.jpg" class="img-responsive" alt="Example blog post alt">
                                </a> -->
                                    <%= image_tag article.data.image, class:"img-responsive" %>
                            </div>

                          <% end %>

                        </div>
                        <div class="col-md-8">
                            <h2><%= link_to article.title, article.url %></h2>
                            <div class="clearfix">
                                <p class="author-category">Por <a href="#"><%=article.data.autor %></a> em <a href="blog.html"><%= article.data.categoria %></a>
                                </p>
                                <p class="date-comments">
                                    <a><i class="fa fa-calendar-o"></i> <%= article.date.strftime("%d/%m/%y") %></a>
                                    <a><i class="fa fa-comment-o"></i> 8 Comments</a>
                                </p>
                            </div>
                            <p class="intro"><%= article.data.textointro%></p>
                            <p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue lendo</a>
                            </p>
                        </div>
                    </div>
                </section>
              <% end %>

                <!-- <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next disabled"><a href="#">Newer &rarr;</a>
                    </li>
                </ul> -->
            </div>
            <!-- /.col-md-9 -->

            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
_________________________________________________________ -->

            <!-- <div class="col-md-3">

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Text widget</h3>
                    </div>

                    <div class="panel-body text-widget">
                        <p>Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.
                        </p>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>

                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">

                                  <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="blog.html">Webdesign</a>
                            </li>
                            <li class="active"><a href="blog.html">Tutorials</a>
                            </li>
                            <li><a href="blog.html">Print</a>
                            </li>
                            <li><a href="blog.html">Our tips</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="tag-cloud">
                            <li><a href="#"><i class="fa fa-tags"></i> html5</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> css3</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> jquery</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> ajax</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> php</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> responsive</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> visio</a>
                            </li>
                            <li><a href="#"><i class="fa fa-tags"></i> bootstrap</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div> -->
            <!-- /.col-md-3 -->

            <!-- *** RIGHT COLUMN END *** -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
