---
title: Sweet Joy por Joy Alves
---

<section>
    <!-- *** HOMEPAGE CAROUSEL ***
_________________________________________________________ -->
    <div class="home-carousel">

        <div class="dark-mask"></div>

        <div class="container full-width">
            <div class="homepage owl-carousel">
                <div class="item item-carousel" style="background: url('/images/brigadeiros.jpg') center center repeat;background-size: cover">
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <p>
<!--                                 <%= image_tag "logo.png", style:'center'%> -->
                            </p>
                            <h1 class='item1'>Brigadeiros</h1>
                            <p>10 sabores diferentes.
                                <br />Eleito o melhor de Curitiba.</p>
                        </div>
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-homepage.png" alt=""> -->

                        </div>
                    </div>
                </div>
                <div class="item item-carousel" style="background: url('images/mesa-festa.jpg') center center repeat;background-size: cover"">
                    <div class="row">

                        <div class="col-sm-3 text-center">
                            <!-- <img class="img-responsive" src="img/template-mac.png" alt=""> -->
                            <!-- <%= image_tag "template-mac.png", class:"img-responsive" %> -->
                        </div>

                        <div class="col-sm-9 text-center">
                            <h1 class="item1">Trabalho com paixão</h2>
                            <p>Assista a como são produzidos nossos doces</p>
                        </div>

                    </div>
                </div>
                <div class="item item-carousel" style="background: url('images/bolokitkat.jpg') center center repeat;background-size: cover"">
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <h1 class="item1">Bolos</h1>
                            <p>Escolha entre 10 modelos de bolos diferentes</p>
                        </div>
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-easy-customize.png" alt=""> -->
<!--                             <%= image_tag "template-easy-customize.png", class:"img-responsive" %> -->
                        </div>
                    </div>
                </div>
                <div class="item item-carousel" style="background: url('images/cursos.jpg') center center repeat;background-size: cover"">
                    <div class="row">
                        <div class="col-sm-7">
                            <!-- <img class="img-responsive" src="img/template-easy-code.png" alt=""> -->
                            <!-- <%= image_tag "template-easy-code.png", class:"img-responsive" %> -->
                        </div>
                        <div class="col-sm-5 text-center">
                            <h1 class="item1">Cursos</h1>
                            <p>Aprimore sua técnica e comece a ganhar dinheiro fazendo o que mais gosta</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</section>

<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                        <h3>Encomenda de Doces</h3>
                        <p>Brigadeiros, bolos e outros docinhos para festa. Faça sua encomenda</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3>Cursos</h3>
                        <p>Cursos de confeitaria com a Chef Joy Alves</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <h3>100% Satisfação Garantida</h3>
                        <p>A sua satisfação é a nossa prioridade máxima.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- /.bar -->

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-gift"></i>
                </div>
                <h3 class="text-uppercase">Aprenda a fazer um bolo como este de graça</h3>
                <p class="lead">Cadastre-se e ganhe um curso gratuito de como fazer o bolo de Kit Kat recheado com brigadeiro.</p>
                <p class="text-center">
                    <a href="index2.html" class="btn btn-template-transparent-black btn-lg">E-mail</a>
                </p>
            </div>

        </div>
    </div>
</section>

<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Blog da Joy</h2>
            </div>
            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                mi vitae est. Mauris placerat eleifend leo. <%= link_to "Confira nosso blog!", '/blog', class:"accent"%>
            </p>

            <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

            <div class="row">

                <% blog("blog").articles[0..3].each do |article| %>

                  <div class="col-md-3">
                      <div class="box-image-text blog">
                          <div class="top">
                              <div class="image">
                                  <%= thumb_tag article.data.image, '690x460#', class:"img-responsive" %>
                              </div>
                              <div class="bg"></div>
                              <div class="text">
                                  <p class="buttons">
                                     <!--  <a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Leia Mais</a> -->
                                    <% link_to article.url, class:"btn btn-template-transparent-primary" do %>
                                      <i class="fa fa-link"></i> Leia Mais
                                    <% end %>
                                  </p>
                              </div>
                          </div>
                          <div class="content">
                              <h4><%= link_to article.title, article.url %></h4>
                              <p class="author-category">Por <a href=""><%= article.data.autor %></a> em <a href="blog.html"> <%=article.data.categoria%></a>
                              </p>
                              <p class="intro"><%=article.data.textointro%></p>
                              <p class="read-more">
                                <%= link_to "Continue lendo", article.url, class:"btn btn-template-main" %>
                              </p>
                          </div>
                      </div>
                      <!-- /.box-image-text -->

                  </div>
                <% end %>

            </div>
            <!-- /.row -->
            <!-- *** BLOG HOMEPAGE END *** -->
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
<!-- *** GET IT ***
_________________________________________________________ -->

<!-- <div id="get-it">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <h3>Do you want cool website like this one?</h3>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="#" class="btn btn-template-transparent-primary">Buy this template now</a>
        </div>
    </div>
</div> -->


<!-- *** GET IT END *** -->



